@charset "UTF-8";
element.style {
    background-color: #37475A;
}
.board_table {
	border-top: 1px solid #d1d1d1;
	border-collapse: collapse;
}

td {
	width: 5%;
	text-align: center;
	padding:8px;
	color:#333;
	font-weight: 500;
}

.td2 {
	width: 1%;
	text-align: center;
}

.td3 {
	width: 1%;
	text-align: center;
	color:#666;
	font-weight: 500;
}

.td4 {
	width: 30%;
	text-align: left;
	color:#232f3e;
	font-weight: 500;
}

tr {
	width: 10%;
	height: 40px;
	border-bottom: 1px solid #dddddd;
}

#hidden {
	display: none;
}

body {
	font-family: "Roboto", "Noto Sans KR", 나눔고딕, "Nanum Gothic",
		"Malgun Gothic", 맑은고딕, 굴림, 돋움, "Dotum", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #111;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin: 0;
	padding: 0;
}

#solid {
	border-right: 1px solid #E2E2E2;
}

button {
	color: white;
	background-color: #37475A;
	float: right;
	text-align: center;
	margin-right: 4px;
	font-size: 1.333em;
}

.whole{
	background: #eeeeee;
	margin: 0px;
	padding: 10px;
}

.whole2{
	background:white;
	margin: 5px;
	padding: 50px;
}


.page_wrap {
	text-align:center;
	font-size:0;
	margin-top : 15px;
 }

.page_nation {
	display:inline-block;
}
.page_nation :hover {
	background-color: #E2E2E2;
}

.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	font-weight:500;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}

.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url('/img/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('/img/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('/img/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('/img/page_nnext.png') no-repeat center center;
	margin-right:0;

}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

.page_nation .none {
	display:none;
}

.detail_button{
	width: 80px;
	height:30px;
	top: -50px;
  	right: 16px;
  	position: relative;
}

.write_button{
	width: 81px;
	height:38px
}

.register_cancel_button{
    background-color: #37475A;
    float: right;
    text-align: center;
	font-size: 1.333em;
    color: #fff;
    margin: 0 0.188em;
    padding: 0.625em 1.25em;
    border: 1px solid rgba(0,0,0,0.1);
}
}