@charset "UTF-8";

table {
	border-top: 1px solid #d1d1d1;
	border-collapse: collapse;
}

td {
	width: 5%;
	text-align: center;
	padding:8px;
	color:#333;
	font-weight: 500;
}

.td2 {
	width: 1%;
	text-align: center;
}

.td3 {
	width: 1%;
	text-align: center;
	color:#666;
	font-weight: 500;
}

.td4 {
	width: 30%;
	text-align: left;
	color:#232f3e;
	font-weight: 500;
}

tr {
	width: 10%;
	height: 40px;
	border-bottom: 1px solid #dddddd;
}

/* tr:hover {
	background-color: #e4d2c0;
} */

#hidden {
	display: none;
}

body {
	font-family: "Roboto", "Noto Sans KR", 나눔고딕, "Nanum Gothic",
		"Malgun Gothic", 맑은고딕, 굴림, 돋움, "Dotum", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #111;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin: 0;
	padding: 0;
}

#solid {
	border-right: 1px solid #E2E2E2;
}

button {
	width: 81px;
	height:38px;
	color: white;
	background-color: #37475A;
	float: right;
	text-align: center;
	margin-right: 4px;
	
}

.whole{
	background: #eeeeee;
	margin: 0px;
	padding: 10px;
}

.whole2{
	background:white;
	margin: 5px;
	padding: 50px;
}